<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planetoids - Product Page</title>
    <!-- Bootstrap CSS -->
    <!-- Bootstrap CSS -->
      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../Css files/Home.css">
    <!-- FontAwesome for icons -->
    <script src="https://kit.fontawesome.com/46b8c2ae83.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../Css files/Product.css">
  
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <fieldset>
    <section>
        <nav class="navbar navbar-expand-lg  bg-green " id="NavBar">
            <div class="container-fluid d-flex">
                <div class="wrapp">
                <button class="navbar-toggler bg-white " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="d-flex space ms-2">
           <a class="navbar-brand" href="./Home.html"><img src="../Assets/logo02.jpg" class="logo img-fluid  d-inline align-text-top" alt="Planetoids"> </a>
              </div>
            </div>
              <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto  mb-2 mb-lg-0 text-light text-center">
                  <li class="nav-item ">
                    <a class="nav-link  "  href="./Home.html">Home</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link" href="./About.html">About Us</a>
                  </li>
                 <li class="nav-item ">
                    <a class="nav-link  active" aria-current="page" href="./Product.html">Products</a>
                  </li>
                </ul>
                <div class="d-flex justify-content-center">
                    <form class="d-flex  text-black  " id="inputed" role="search">
                      <input class="form-control text-black ms-3 inputed" type="search" placeholder="Search the Plant" aria-label="Search"  aria-label="Search" id="searchInput">
                      
                      </form>
                    </div>
              </div>
            </div>
          </nav>
    </section>
    
    <section>
        <div class="row justify-content-center mt-5 pt-5">
            <div class="col-md-4 col-sm-12">  
        <div id="searchResults" class="container text-center">
            <!-- Movie cards will be displayed here -->
        </div>
     </div>
     </div>
  </section>
  <div class="burger-menu" id="burgerMenu">
    <i class="fas fa-bars"></i>
</div>

<div class="icons-container" id="iconsContainer">
    
        <a href="#flowering-plants"><i class="fa-solid fa-fan text-green" data-bs- toggle="tooltip" data-placement="right" title="Flowering Plants"></i></a>
        <a href="#low-maintenance-plants"><i class="fa-sharp fa-solid fa-glass-water-droplet text-green" data-bs-toggle="tooltip" data-placement="right" title="Low Maintentance plants"></i></a>
        <a href="#air-purifying-plants"><i class="fa-solid fa-wind text-green" data-bs-toggle="tooltip" data-placement="right" title="Air-purifying Plants"></i></a>
        <a href="#hanging-plant"><i class="fa-solid fa-plant-wilt text-green" data-bs-toggle="tooltip" data-placement="right" title="Hanging plants"></i></a>
        <a href="#pet-friendly-plant"><i class="fa-solid fa-paw text-green" data-bs-toggle="tooltip" data-placement="right" title="Pet-Friendly Plants"></i></a>
    

</div>
   
       
  
    <section class="content-section container mt-5 pt-5 info-box">
        <h1 class="display-5 bg-green rounds text-white">Welcome to <img src="../Assets/logo02.jpg" class="logos pb-4"></h1>
        <p class="lead">Explore a diverse range of plants and species at Planetoids. From exotic houseplants to beautiful flowering plants, we offer a wide variety of plants to suit every taste and need. Our collection is curated to provide the perfect plant for any environment.</p>
    </section>
   
    <!-- Product Sections -->
     <div id="flowering-plants"></div>
    <section class="container product-section" >
        <h2 class="lead">Flowering plants</h2>
        <hr>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom " data-title="Peace lily flowering">
                    <img src="../Assets/peacelily1.jpg" class="card-img-top" alt="Peace lily">
                    <div class="card-body">
                        <h5 class="card-title">Peace lily</h5>
                        <p class="card-text">A beautiful flowering plant known for its air-purifying qualities.</p>
                        <div class="price">₹500</div>
                        <button class="btn btn-buy"><i class="fas fa-shopping-bag"></i> Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom" data-title="Kalanchoe flowering">
                    <img src="../Assets/Kalanchoe.jpg" class="card-img-top" alt="Kalanchoe">
                    <div class="card-body">
                        <h5 class="card-title">Kalanchoe Plant</h5>
                        <p class="card-text"> A vibrant succulent with clusters of bright flowers.</p>
                        <div class="price">₹600</div>
                        <button class="btn btn-buy"><i class="fas fa-shopping-bag"></i> Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom" data-title="Aechmea Fasciata Plant Flowering">
                    <img src="../Assets/Cards/Aechmea Fasciata.webp" class="card-img-top" alt="Aechmea Fasciata">
                    <div class="card-body">
                        <h5 class="card-title">Aechmea Fasciata Plant</h5>
                        <p class="card-text">An exotic bromeliad with striking silver-green leaves and a pink bloom.</p>
                        <div class="price">₹700</div>
                        <button class="btn btn-buy"><i class="fas fa-shopping-bag"></i> Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom" data-title="kalanchoe Yellow Plant flowering">
                    <img src="../Assets/Cards/kalanchoe Yellow.webp" class="card-img-top" alt="kalanchoe Yellow">
                    <div class="card-body">
                        <h5 class="card-title">kalanchoe Yellow Plant</h5>
                        <p class="card-text">A cheerful yellow-flowered succulent perfect for brightening up spaces.</p>
                        <div class="price">₹600</div>
                        <button class="btn btn-buy"><i class="fas fa-shopping-bag"></i> Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom" data-title="Ixora(Rugmini) Plant - Orange flowering">
                    <img src="../Assets/Cards/Ixora (Rugmini) Plant - Orange.webp" class="card-img-top" alt="Ixora (Rugmini) Plant - Orange">
                    <div class="card-body">
                        <h5 class="card-title">Ixora(Rugmini) Plant - Orange</h5>
                        <p class="card-text">A tropical shrub with clusters of bright orange flowers.</p>
                        <div class="price">₹850</div>
                        <button class="btn btn-buy"><i class="fas fa-shopping-bag"></i> Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom" data-title="Philodendron Selloum Golden Plant flowering">
                    <img src="../Assets/Cards/Philodendron Selloum Golden Plant.webp" class="card-img-top" alt="Philodendron Selloum Golden Plant">
                    <div class="card-body">
                        <h5 class="card-title">Philodendron Selloum Golden</h5>
                        <p class="card-text">A lush plant with large, glossy, deeply lobed leaves.</p>
                        <div class="price">₹700</div>
                        <button class="btn btn-buy"><i class="fas fa-shopping-bag"></i> Buy</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="text-success" size="10">
    <div id="low-maintenance-plants"></div>
    <section class="container product-section mt-5 pt-5" >
        <h2 class="lead">Low Maintentance Plants</h2>
        <hr>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom" data-title="Bamboo palm low Maintentance">
                    <img src="../Assets/Cards/Bamboo palm.jpg" class="card-img-top" alt="Bamboo palm">
                    <div class="card-body">
                        <h5 class="card-title">Bamboo palm Plant</h5>
                        <p class="card-text"> A graceful plant with lush, feathery fronds that purify the air.</p>
                        <div class="price">₹800</div>
                        <button class="btn btn-buy"><i class="fas fa-shopping-bag"></i> Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom" data-title="Fiddle leaf fig plant low Maintentance">
                    <img src="../Assets/Cards/Fiddle leaf fig plant.webp" class="card-img-top" alt="Fiddle leaf fig plant">
                    <div class="card-body">
                        <h5 class="card-title">Fiddle leaf fig plant</h5>
                        <p class="card-text">A popular indoor plant known for its large, violin-shaped leaves.</p>
                        <div class="price">₹900</div>
                        <button class="btn btn-buy"><i class="fas fa-shopping-bag"></i> Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom" data-title="Green Fern Plant - Mini low Maintentance">
                    <img src="../Assets/Cards/Green Fern Plant - Mini.jpg" class="card-img-top" alt="Green Fern Plant - Mini">
                    <div class="card-body">
                        <h5 class="card-title">Green Fern Plant - Mini</h5>
                        <p class="card-text">A charming mini fern with delicate, arching fronds.</p>
                        <div class="price">₹1000</div>
                        <button class="btn btn-buy"><i class="fas fa-shopping-bag"></i> Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom" data-title="Jade mini low Maintentance">
                    <img src="../Assets/Cards/Jade mini.jpg" class="card-img-top" alt="Jade mini">
                    <div class="card-body">
                        <h5 class="card-title">Jade mini</h5>
                        <p class="card-text">A small succulent with thick, glossy leaves and a compact form.</p>
                        <div class="price">₹300</div>
                        <button class="btn btn-buy"><i class="fas fa-shopping-bag"></i> Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom" data-title="Thuja plant low Maintentance">
                    <img src="../Assets/Cards/Thuja plant.png" class="card-img-top" alt="Thuja plant">
                    <div class="card-body">
                        <h5 class="card-title">Thuja Plant</h5>
                        <p class="card-text">An evergreen shrub with dense foliage and a conical shape.</p>
                        <div class="price">₹650</div>
                        <button class="btn btn-buy"><i class="fas fa-shopping-bag"></i> Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom" data-title="Broken heart low Maintentance">
                    <img src="../Assets/Cards/Broken heart.jpg" class="card-img-top" alt="Broken Heart">
                    <div class="card-body">
                        <h5 class="card-title">Broken Heart Plant</h5>
                        <p class="card-text"> A trailing plant with heart-shaped leaves and a robust growth habit.</p>
                        <div class="price">₹250</div>
                        <button class="btn btn-buy"><i class="fas fa-shopping-bag"></i> Buy</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="hr">
        <hr>
    </div>
    <div id="air-purifying-plants"></div>
    <section class="container product-section mt-5 pt-5" >
        <h2 class="lead">Air-purifying Plants</h2>
        <hr class="hr">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom" data-title="Chinese money plant Air-purifying">
                    <img src="../Assets/Cards/money03.jpg" class="card-img-top" alt="Chinese Money Plant">
                    <div class="card-body">
                        <h5 class="card-title">Chinese Money Plant</h5>
                        <p class="card-text"> A popular indoor plant with round, coin-shaped leaves.</p>
                        <div class="price">₹1100</div>
                        <button class="btn btn-buy"><i class="fas fa-shopping-bag"></i> Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom" data-title="Croton Petra XL air-purifying">
                    <img src="../Assets/Cards/Croton Petra XL03.jpg" class="card-img-top" alt="Croton Petra XL">
                    <div class="card-body">
                        <h5 class="card-title">Croton Petra XL</h5>
                        <p class="card-text">A striking plant with large, colorful, variegated leaves.</p>
                        <div class="price">₹1200</div>
                        <button class="btn btn-buy"><i class="fas fa-shopping-bag"></i> Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom" data-title="Ficus Prestige Plant air-purifying">
                    <img src="../Assets/Cards/Ficus Prestige Plant 03.jpg" class="card-img-top" alt="Ficus Prestige">
                    <div class="card-body">
                        <h5 class="card-title">Ficus Prestige Plant</h5>
                        <p class="card-text">A decorative plant with glossy, variegated leaves.</p>
                        <div class="price">₹1600</div>
                        <button class="btn btn-buy"><i class="fas fa-shopping-bag"></i> Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom" data-title="Philodendron Melinonii Golden  air-purifying">
                    <img src="../Assets/Cards/Philodendron Melinonii Golden 03.webp" class="card-img-top" alt="Philodendron Melinonii Golden">
                    <div class="card-body">
                        <h5 class="card-title">Philodendron Melinonii Golden</h5>
                        <p class="card-text"> A vibrant plant with large, golden-green leaves.</p>
                        <div class="price">₹1300</div>
                        <button class="btn btn-buy"><i class="fas fa-shopping-bag"></i> Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom" data-title="Areca Palm Plant XL air-purifying">
                    <img src="../Assets/Cards/Areca Palm Plant XL.webp" class="card-img-top" alt="Areca Palm Plant XL">
                    <div class="card-body">
                        <h5 class="card-title">Areca Palm Plant XL</h5>
                        <p class="card-text">A tall, graceful palm known for its feathery fronds.</p>
                        <div class="price">₹1250</div>
                        <button class="btn btn-buy"><i class="fas fa-shopping-bag"></i> Buy</button>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom" data-title="Philodendron Pluto Green XL Air-purifying">
                    <img src="../Assets/Cards/Philodendron Pluto Green XL 03.jpeg" class="card-img-top" alt="Philodendron Pluto Green XL">
                    <div class="card-body">
                        <h5 class="card-title">Philodendron Pluto Green XL</h5>
                        <p class="card-text">A lush plant with large, heart-shaped green leaves.</p>
                        <div class="price">₹1500</div>
                        <button class="btn btn-buy"><i class="fas fa-shopping-bag"></i> Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom" data-title="Rubber plant Air-purifying">
                    <img src="../Assets/Cards/Rubber03.jpg" class="card-img-top" alt="Rubber Plant">
                    <div class="card-body">
                        <h5 class="card-title">A hardy plant with thick, glossy leaves that purify the air.</h5>
                        <p class="card-text">This is a short description of Plant 9.</p>
                        <div class="price">₹900</div>
                        <button class="btn btn-buy"><i class="fas fa-shopping-bag"></i> Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom" data-title="Broken heart low Maintentance">
                    <img src="../Assets/Cards/Broken heart.jpg" class="card-img-top" alt="Broken Heart">
                    <div class="card-body">
                        <h5 class="card-title">Broken Heart Plant</h5>
                        <p class="card-text"> A trailing plant with heart-shaped leaves and a robust growth habit.</p>
                        <div class="price">₹250</div>
                        <button class="btn btn-buy"><i class="fas fa-shopping-bag"></i> Buy</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="hr">
    <div id="hanging-plant"></div>
    <section class="container product-section pt-5 mt-5" id="hanging-plant">
        <h2 class="lead">Hanging Plants</h2>
        <hr class="hr">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom" data-title="Spider Plant With Hanging Pot ">
                    <img src="../Assets/Cards/Spider Plant With Hanging Pot 04.jpg" class="card-img-top" alt="Spider Plant With Hanging Pot">
                    <div class="card-body">
                        <h5 class="card-title">Spider Plant With Hanging Pot</h5>
                        <p class="card-text"> A popular hanging plant with arching green and white striped leaves.</p>
                        <div class="price">₹1400</div>
                        <button class="btn btn-buy"><i class="fas fa-shopping-bag"></i> Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom" data-title="Turtle Vine  hanging plant">
                    <img src="../Assets/Cards/Turtle Vine 04.jpg" class="card-img-top" alt="Turtle Vine">
                    <div class="card-body">
                        <h5 class="card-title">Turtle Vine</h5>
                        <p class="card-text">A trailing plant with small, thick leaves ideal for hanging baskets.</p>
                        <div class="price">₹1500</div>
                        <button class="btn btn-buy"><i class="fas fa-shopping-bag"></i> Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom" data-title="Twisted Hoya hanging plant pots">
                    <img src="../Assets/Cards/Twisted Hoya 04.webp" class="card-img-top" alt="Twisted Hoya">
                    <div class="card-body">
                        <h5 class="card-title">Twisted Hoya Plant </h5>
                        <p class="card-text">A unique plant with twisted, waxy leaves and fragrant flowers.</p>
                        <div class="price">₹1600</div>
                        <button class="btn btn-buy"><i class="fas fa-shopping-bag"></i> Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom" data-title="Wandering Jew With Hanging Pot">
                    <img src="../Assets/Cards/Wandering Jew With Hanging Pot 04.webp" class="card-img-top" alt="Wandering Jew With Hanging Pot">
                    <div class="card-body">
                        <h5 class="card-title">Wandering Jew With Hanging Pot</h5>
                        <p class="card-text">A vibrant plant with purple and green striped leaves.</p>
                        <div class="price">₹2100</div>
                        <button class="btn btn-buy"><i class="fas fa-shopping-bag"></i> Buy</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="hr">
        <hr>

    </div>
    <div id="pet-friendly-plant"></div>
    <section class="container product-section mt-5 pt-5" id="pet-friendly-plant">
        <h2 class="lead">Pet-Friendly Plants</h2>
        <hr class="hr">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom" data-title="Christmas Cactus pet Pet-Friendly">
                    <img src="../Assets/Cards/Christmas Cactus 05.jpg" class="card-img-top" alt="Christmas Cactus">
                    <div class="card-body">
                        <h5 class="card-title">Christmas Cactus</h5>
                        <p class="card-text">A festive plant that blooms with colorful flowers around the holidays.</p>
                        <div class="price">₹1700</div>
                        <button class="btn btn-buy"><i class="fas fa-shopping-bag"></i> Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom" data-title="Ixora (Rugmini) Plant Pet-Friendly">
                    <img src="../Assets/Cards/Ixora (Rugmini) Plant - Pink 05.jpg" class="card-img-top" alt="Ixora (Rugmini) Plant - Pink">
                    <div class="card-body">
                        <h5 class="card-title">Ixora (Rugmini) Plant - Pink</h5>
                        <p class="card-text"> A tropical shrub with clusters of bright pink flowers.</p>
                        <div class="price">₹1800</div>
                        <button class="btn btn-buy"><i class="fas fa-shopping-bag"></i> Buy</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card card-custom" data-title="Peperomia Green Creeper Plant pet">
                    <img src="../Assets/Cards/Peperomia Green Creeper Plant 05.jpg" class="card-img-top" alt="Peperomia Green Creeper Plant ">
                    <div class="card-body">
                        <h5 class="card-title">Peperomia Green Creeper </h5>
                        <p class="card-text"> A low-maintenance plant with small, round, green leaves.</p>
                        <div class="price">₹1900</div>
                        <button class="btn btn-buy"><i class="fas fa-shopping-bag"></i> Buy</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="hr">
        <hr>
    </div>
    <footer class="footer">
        <div class="mb-4"><img src="../Assets/logo02.jpg" width="200px"></div>
        <div>&copy; 2024 Planetoids. All rights reserved.</div>
        <div class="social-icons">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-reddit"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin-in"></a>
        </div>
    </footer>
</fieldset>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <!-- custom js file -->
      <script src="../JS files/Home.js"></script>
       <!-- Custom JS -->
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });

        document.getElementById('burgerMenu').addEventListener('click', function() {
            const iconsContainer = document.getElementById('iconsContainer');
            if (iconsContainer.style.display === 'none' || iconsContainer.style.display === '') {
                iconsContainer.style.display = 'flex';
            } else {
                iconsContainer.style.display = 'none';
            }
        });
    </script>
</body>
</html>
